{% extends 'base.html' %}

{% block title %}{% if project %}Редактирование проекта{% else %}Новый проект{% endif %}{% endblock %}

{% block content %}
<h2 class="mui--text-headline">{% if projectis %}Редактирование проекта{% else %}Создание проекта{% endif %}</h2>
<form method="POST" class="mui-form">
    {{ form.hidden_tag() }}
    <div class="mui-textfield">
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div class="mui-textfield">
        {{ form.description.label }}
        {{ form.description }}
    </div>
    <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">
        {% if projectis %}Сохранить{% else %}Создать{% endif %}
    </button>
</form>
{% endblock %}
