{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="mui-container">
    <h1 class="mui--text-headline">Новости</h1>
    
    <div class="mui-panel mui-panel--raised">
        <h3>Новые функции в калькуляторе</h3>
        <p>Теперь калькулятор позволяет учитывать стоимость материалов и трудозатраты при расчете общей стоимости ремонта!</p>
    </div>
    
    <div class="mui-panel mui-panel--raised">
        <h3>Обновления в планировке</h3>
        <p>Планировка в 2D теперь поддерживает создание сложных форм и объектов!</p>
    </div>
    
    <div class="mui-panel mui-panel--raised">
        <h3>Проекты пользователей</h3>
        <p>Мы представляем вам лучшие проекты пользователей за последний месяц. Ознакомьтесь с интересными идеями и вдохновляйтесь!</p>
    </div>
    
    <div class="mui-panel mui-panel--raised">
        <h3>Советы и рекомендации</h3>
        <p>Как правильно выбрать материалы для ремонта? Читайте нашу новую статью с советами экспертов.</p>
    </div>
    
    <div class="mui-panel mui-panel--raised">
        <h3>Технологические обновления</h3>
        <p>Обновление 3D-визуализации: теперь вы можете просматривать проекты в режиме реального времени с улучшенной графикой!</p>
    </div>
</div>
{% endblock %}
