{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="mui--text-headline">Вход в систему</h2>
<form method="POST" class="mui-form">
    {{ form.hidden_tag() }}
    <div class="mui-textfield">
        {{ form.email.label }} 
        {{ form.email(size=20) }}
    </div>
    <div class="mui-textfield">
        {{ form.password.label }}
        {{ form.password(size=20) }}
    </div>
    <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">{{ form.submit.label }}
</form>
{% endblock %}
